@model List<KAMStoreNew.Models.Product>

@{
    ViewBag.Title = "Index";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Product Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <a href="" id="deleteLink" class="btn btn-secondary">Delete</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="d-flex justify-content-end">
    <a href="/Admin/Products/Create" class="btn btn-secondary"><i class="fa-solid fa-plus"></i> Create</a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-lg-down modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Product Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card mb-3" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="" class="img-fluid rounded-start" alt="..." id="productImgSpan">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <th>Product Name</th>
                                        <td class="card-title"><span id="productNameSpan"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td class="card-title"><span id="productPriceSpan"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Created Date</th>
                                        <td class="card-title"><span id="productCreatedDateSpan"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Availability Status</th>
                                        <td class="card-title"><span id="productAvailabilityStatusSpan"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Category</th>
                                        <td class="card-title"><span id="productCategorySpan"></span></td>
                                    </tr>
                                    <tr>
                                        <th>Brand</th>
                                        <td class="card-title"><span id="productBrandSpan"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@{
    string iconClass = "";
    if (ViewBag.IconClass == "fa-sort-down")
    {
        iconClass = "fa-sort-up";
    }
    else
    {
        iconClass = "fa-sort-down";
    }
}

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <a href="/Admin/Products/Index?SortColumn=ProductName&IconClass=@iconClass">Product Name</a>
                @if (ViewBag.SortColumn == "ProductName")
                {
                    <i class="fa-solid @ViewBag.IconClass"></i>
                }
            </th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <a href="/Admin/Products/Index?SortColumn=Price&IconClass=@iconClass">Price</a>
                @if (ViewBag.SortColumn == "Price")
                {
                    <i class="fa-solid @ViewBag.IconClass"></i>
                }
            </th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <a href="/Admin/Products/Index?SortColumn=CreatedDate&IconClass=@iconClass">Created Date</a>
                @if (ViewBag.SortColumn == "CreatedDate")
                {
                    <i class="fa-solid @ViewBag.IconClass"></i>
                }
            </th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Availability Status</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Brand</th>
            <th class="text-secondary opacity-7"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-truncate" style="max-width: 200px;">
                    <h6 class="mb-0 text-sm">@item.ProductName</h6>
                </td>
                <td class="align-middle text-center text-xs font-weight-bold mb-0">
                    @Html.DisplayFor(row => item.Price)
                </td>
                <td class="align-middle text-center text-xs font-weight-bold mb-0">
                    @Html.DisplayFor(row => item.CreatedDate)
                </td>
                @if (item.AvailabilityStatus == "InStock")
                {
                    <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">@item.AvailabilityStatus</span>
                    </td>
                }
                else
                {
                    <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-danger">@item.AvailabilityStatus</span>
                    </td>
                }
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">@item.Category.CategoryName</span>
                </td>
                <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">@item.Brand.BrandName</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary font-weight-bold text-xs btnViewProd" data-bs-toggle="modal" data-bs-target="#exampleModal" data-productid="@item.ProductID">
                        Detail
                    </span>
                    <a href="/Admin/Products/Edit/@item.ProductID" class="text-secondary font-weight-bold text-xs">
                        |
                        Edit
                    </a>
                    <a class="text-secondary font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-productid="@item.ProductID">
                        |
                        Delete
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $(document).on('click', '.btnViewProd', (event) => {
        const productid = $(event.target).attr('data-productid');
        $.ajax({
            type: 'GET',
            url: `/api/products?id=${productid}`,
            success: (response) => {
                $('#productNameSpan').html(response.ProductName);
                const imgElement = $('#productImgSpan');
                imgElement.attr('src', `/Img/${response.Img}`);
                const formattedPrice = parseFloat(response.Price).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                $('#productPriceSpan').html(formattedPrice);
                const createdDate = new Date(response.CreatedDate);
                const formattedDate = createdDate.toLocaleString('vi-VN', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric',
                    hour: 'numeric',
                    minute: 'numeric',
                    second: 'numeric'
                });
                $('#productCreatedDateSpan').html(formattedDate);
                $('#productAvailabilityStatusSpan').html(response.AvailabilityStatus);
                $('#productCategorySpan').html(response.Category.CategoryName);
                $('#productBrandSpan').html(response.Brand.BrandName);

            },
            error: (err) => { console.log(err); }
        });
    });

    $(document).ready(function () {
        // Bắt sự kiện khi nhấn vào liên kết mở modal
        $("a[data-bs-target='#exampleModal2']").click(function () {
            // Lấy giá trị của data-productid
            var productID = $(this).data("productid");

            // Cập nhật href của liên kết "Delete" trong modal
            $("#deleteLink").attr("href", "/admin/products/delete/" + productID);
        });
    });
</script>